* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: grid;
	grid-template-areas:
		'header'
		'main'
		'footer';
	grid-template-rows: 120px 1fr 300px;
	font-family: 'Roboto', sans-serif;
	height: 100vh;
	color: white;
	max-width: 1440px;
	margin: 0 auto;
}
.header-container {
	grid-area: header;
	background-color: rgb(0, 0, 0);
	display: flex;
	flex-direction: row;
	color: white;
}
.navbar-container {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	padding: 10px;
}

.logo-navbar {
	height: 60px;
}
.name-navbar {
	font-size: 21px;
}
.name-navbar-span {
	color: rgb(216, 12, 12);
	font-size: 23px;
}
.menu-navbar-container i {
	color: rgb(216, 12, 12);
	font-size: 25px;
}

.menu-navbar-container {
	display: flex;
	justify-content: end;
	align-items: center;
	width: 60%;
	padding: 20px;
}
.menu {
	display: none;
}
.main-container {
	grid-area: main;
	background-color: rgb(2, 2, 2);
	font-size: 23px;
	text-align: center;
}
.main-container-inner {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 10px;
	gap: 30px;
}

.main-container-tittle {
	font-weight: bold;
}
.card-container {
	border: 1px solid rgb(216, 12, 12);
	width: 90%;
	height: 400px;
	padding: 40px;
	position: relative;
}

.card-container:hover {
	color: black;
	font-size: 80px;

	transform: scale(1.05);
	transition: 0.5s;
}
.card-img {
	height: 300px;
	width: 100%;
}
.card-img img {
	width: 100%;
	height: 100%;
}
.card-footer {
	background-color: rgb(216, 12, 12);
	position: absolute;
	left: 0;
	bottom: 0;
	width: 60%;
	height: 40px;
	padding: 5px;
	font-size: 21px;
	text-align: center;
}

.footer-container {
	grid-area: footer;
	background-color: rgb(34, 34, 36);
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	position: relative;
}
.footer-container-inner {
	margin-bottom: 50px;
}
.footer-icons {
	display: flex;
	gap: 10px;
	color: rgb(216, 12, 12);
	margin-top: 15px;
}
.footer-icons p {
	color: grey;
}
.footer-icons a {
	text-decoration: none;
}
.footer-end {
	background-color: rgb(216, 12, 12);
	width: 100%;
	height: 40px;
	text-align: center;
	font-size: 12px;
	padding: 15px;
	position: absolute;
	bottom: 0;
}
@media (min-width: 576px) {
	body {
		grid-template-areas:
			'header main'
			'footer footer';
		grid-template-rows: 1fr 300px;
		grid-template-columns: 200px 1fr;
	}
	.header-container {
		display: flex;
		flex-direction: column;
		position: fixed;
		height: 100vh;
		width: 200px;
	}
	.main-container-tittle {
		padding: 30px 0;
	}

	.main-container-inner {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
		gap: 20px;
		width: 100%;
	}
	.navbar-container {
		width: 100%;
	}
	.menu-navbar-container i {
		display: none;
	}
	.menu-navbar-container {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: start;
	}
	.menu {
		display: flex;
		list-style: none;
		flex-direction: column;
		align-items: center;
		gap: 25px;
	}
	.menu-navbar-container a {
		text-decoration: none;
		color: white;
	}
	.menu-item:hover {
		background-color: rgb(216, 12, 12);
		width: 120px;
		height: 30px;
		color: black;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 20px;
		transform: scale(1.05);
		transition: 0.5s;
	}

	.card-container {
		width: 100%;
		height: 250px;
	}
	.card-img {
		width: 100%;
		height: 70%;
	}

	.footer-end {
		margin-top: 0;
	}
}
